body {
    background-color: lightblue;
    color: black;
    margin: auto;
    width: 50%;
}

.input  {
    margin-left: 50px;
    margin-bottom: 5px;
}

.select {
    width: 150px;
}

.input:invalid    {
    border: 1px solid red;
}

#newTransaction {
    visibility: hidden;
}